@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

body {
  background: #e8eaf1;
  font-family: 'Hind', Arial, Helvetica, sans-serif;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

blockquote {
  font-size: 30px;
  background: #efefef;
  border-left: 12px solid rgb(48, 213, 200);
  padding: 20px 30px;
  border-radius: 5px;
  margin: 0;
}